# Import Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("participants_dataset_DES.csv")

In [3]:
df[["AWND", "TMAX"]].describe()

                AWND           TMAX
count  160000.000000  160000.000000
mean        8.561424      51.072050
std         4.017869      17.968801
min         0.890000       1.000000
25%         5.190000      37.000000
50%         7.670000      51.000000
75%        11.210000      63.000000
max        26.530000      85.000000

### DATE: create the date from year, month and day of the week

In [4]:
df["YEAR"].fillna(df["YEAR"].max(), inplace = True)
df["MONTH"].fillna(df["MONTH"].max(), inplace = True)

df['DATE'] = df['DAY_OF_WEEK'].astype(str) + "/" + df['MONTH'].astype(int).astype(str) + "/" + df['YEAR'].astype(int).astype(str)

### LOW: lower value of DEP_TIME_BLK | HIGH: higher value of DEP_TIME_BLK

In [5]:
df["LOW"] = df["DEP_TIME_BLK"].str.slice(0,4)
df["HIGH"] = df["DEP_TIME_BLK"].str.slice(5,9)

### TIMESTAMP: create a timestamp with date and lower value of DEP_TIME_BLK

In [6]:
df["TIMESTAMP"] = df["DATE"].astype(str) + " " + df["LOW"].str.slice(0, 2) + ":" + df["LOW"].str.slice(2,4)

### WIND_CHILL:  the perceived temperature due to cooling effect of wind blowing

Formula : if you use Fahrenheit and miles per hour:

T_wc = 35.74 + 0.6215 * T_a - 35.75 * v^0.16 + 0.4275 * T_a * v^0.16

T_wc : wind chill

T_a : temperature

v : wind speed

In [7]:
df["AWND"].fillna(df["AWND"].mean(), inplace=True)
df["TMAX"].fillna(df["TMAX"].mean(), inplace=True)

In [8]:
df["WIND_CHILL"] = 35.74 + (0.6215 * df["TMAX"]) - (35.75 * (df["AWND"].pow(0.16))) + (0.4275 * df["TMAX"] * (df["AWND"].pow(0.16)))

### PRCP_SNOW_RATIO: ratio of precipitation and snow

In [9]:
df["PRCP"].fillna(df["PRCP"].mean(), inplace=True)
df["SNOW"].fillna(df["SNOW"].mean(), inplace=True)
df.loc[df["SNOW"] == 0, "SNOW"] = 1

In [10]:
df["PRCP_SNOW_RATIO"] = df["PRCP"] / df["SNOW"]

### PLANE_AGE_AIRLINE_AIRPORT_FLIGHTS_MONTH_RATIO : ratio of plane age and airline and airport flights months.

In [11]:
df["AIRLINE_AIRPORT_FLIGHTS_MONTH"].fillna( df["AIRLINE_AIRPORT_FLIGHTS_MONTH"].mean() , inplace=True)
df["PLANE_AGE"].fillna( df["PLANE_AGE"].median(), inplace = True)
df.loc[df["AIRLINE_AIRPORT_FLIGHTS_MONTH"] == 0, "AIRLINE_AIRPORT_FLIGHTS_MONTH"] = 1

In [12]:
df["PLANE_AGE_AIRLINE_AIRPORT_FLIGHTS_MONTH_RATIO"] = df["PLANE_AGE"] / df["AIRLINE_AIRPORT_FLIGHTS_MONTH"]

### SEAT_DISTRIBUTION: Ratio of seats and in  concurrent flight CONCURRENT_FLIGHTS

In [13]:
df["CONCURRENT_FLIGHTS"].fillna(df["CONCURRENT_FLIGHTS"].mean(), inplace = True)
df["NUMBER_OF_SEATS"].fillna(df["NUMBER_OF_SEATS"].mean(), inplace = True)
df.loc[df["NUMBER_OF_SEATS"] == 0, "NUMBER_OF_SEATS"] = 1

In [14]:
df["SEAT_DISTRIBUTION"] = df['CONCURRENT_FLIGHTS']/ df['NUMBER_OF_SEATS']

### SEAT_DISTRIBUTION_NORMALISED: normalized values of ratio of seats and in  concurrent flight

In [15]:
df["SEAT_DISTRIBUTION_NORMALISED"]=(df["SEAT_DISTRIBUTION"] - df["SEAT_DISTRIBUTION"].min())/(df["SEAT_DISTRIBUTION"].max() - df["SEAT_DISTRIBUTION"].min())

In [16]:
df[['DATE', 'LOW', 'HIGH', 'TIMESTAMP', 'WIND_CHILL', 'PRCP_SNOW_RATIO', 'PLANE_AGE_AIRLINE_AIRPORT_FLIGHTS_MONTH_RATIO', 'SEAT_DISTRIBUTION', 'SEAT_DISTRIBUTION_NORMALISED']].to_csv("submission.csv", index = False)

### DONE!